{{define "index/index.html"}}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>link map</title>

    <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
  <div class="panel panel-default" style="height: 400px; width: 40%; margin-left: 30%; margin-top:40px ">
   <div class="panel-heading" align="center">Link Map</div>
  <div class="panel-body" >



  </div>
      <div class="row" >
        <div class="col-md-offset-1 col-md-10">
        <form action="/getShortUrl" method="post" id="postForm1" class="form-group">
          <div class="input-group" >
            <span class="input-group-btn">
              <text class="btn btn-default" type="text" >Long Url</text>
            </span>
            <input type="text" class="form-control" name="longurl" placeholder="Generate for short url" value="{{.longUrl}}" >
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Go!</button>
            </span>
          </div><!-- /input-group -->
        </form>
        </div>
        <br>
        <br>

        <div class="col-md-offset-1 col-md-10 ">
         <form action="/getLongUrl" method="post" id="postForm2" class="form-group">
          <div class="input-group" >
            <span class="input-group-btn">
              <text class="btn btn-default" type="text" >Short Url</text>
            </span>
            <input type="text" class="form-control" name="shorturl" placeholder="Search for long url" value="{{.shortUrl}}">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        </form>
      </div><!-- /.row -->

  </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/static/libs/jquery/jquery.min.js"></script>
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
{{end}}